.squat{
    background-color: lightgray;
    font-size: 15px;
}
.bench{
    background-color: gray;
    font-size: 15px;
}
.dead{
    background-color: lightgray;
    font-size: 15px;
}
.total{
    background-color: lightgray;
}
.squat_td{
    
}
.bench_td{
    background-color: rgba(211, 211, 211, 0.685);
    font-weight: bold;  
}
.dead_td{
    
}
.total_td{
    
}