html 
    head 
        title=title 
        //-meta(name="viewport" content="width=416, user-scalable=yes")
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.css")
        link(rel='stylesheet', href='/views/big9.css')
    body
        center
            P
            H1 🌈빅나인고고클럽
            H2 review
            H3
            a(href="https://bigninegogoclub.tistory.com/247")
                img(src="https://blog.kakaocdn.net/dn/djZbdD/btq9I0YfRJj/85Er0U00eLMgsw9ySipvEk/img.jpg" width="150px")
            a(href="https://bigninegogoclub.tistory.com/246")    
                img(src="https://blog.kakaocdn.net/dn/lIVl9/btq9ENFiIwz/nwnb5yma0wM9jYNTpFusVK/img.jpg" width="150px")
            a(href="https://bigninegogoclub.tistory.com/245")
                img(src="https://blog.kakaocdn.net/dn/mVY9t/btq9DnmNmUf/HuDHbqakQwuoy2Q450nBo0/img.jpg" width="150px")
            br
            a(href="https://bigninegogoclub.tistory.com/244")
                img(src="https://blog.kakaocdn.net/dn/bj42u2/btq9I0DIMFw/mSVgka7eSkNBs7qtLGkBg1/img.jpg" width="150px")
            a(href="https://bigninegogoclub.tistory.com/243")
                img(src="https://blog.kakaocdn.net/dn/bGjKlg/btq7ddtiaCR/wiPKuvEiszRifV2qsk74sk/img.jpg" width="150px")
            a(href="https://bigninegogoclub.tistory.com/242")
                img(src="https://blog.kakaocdn.net/dn/bXCpql/btq7jyvW0uF/3375GjrHU0CDAmoHeiKCC0/img.jpg" width="150px")
            P 
            H2 clips
            P    
            iframe(width="438" height="270" src="https://www.youtube.com/embed/N-a-Z-dPDxc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
            P
            iframe(width="438" height="270" src="https://www.youtube.com/embed/FABj4BCz69g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
            P
            iframe(width="438" height="270" src="https://www.youtube.com/embed/InerUQeSu2s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
    script(src="//code.jquery.com/jquery-1.11.0.min.js")
    script(src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.js")
    script(src="/script/dropdown.js")
    script(src="/script/index.js")