html 
    head 
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.css")
    body 
        a(href="/apk/yourStrength.apk" style="display: scroll; position: fixed; bottom: 30px;")
            i.download.icon
            | download App for Android