html 
    head 
        title=title 
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet', href='/views/style.css')
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.css")
    body
        h2 점진적 과부하 개발 중
        p 
        h3 인스타그램 아이디를 입력하세요.
        p
        input(type="text" id="ib_instaID" style="height:35px;" onKeypress="javascript:if(event.keyCode==13) {confirm()}")
        button#btn_confirm(class="ui button" onclick="confirm()") 확인
        P 
        #div_signupYN(style="display:none")
            | 등록되지 않은 아이디입니다.
            br
            | 이 아이디로 등록하시겠어요?
            p
            button(onclick="signupY()") 네
            button(onclick="signupN()") 아니오
            P
        #div_signup(style="display:none")
            | 첫 방문을 환영합니다!
            br
            | 본인의 닉네임과 3대 중량을 입력하세요.
            p
            | 닉네임 
            input(type="text" id="ib_nickname" style="width:82;text-align:right")
            P
        #div_signin(style="display:none")
            br
            img#img_profile(src="")
            br
            span#span_name
            | 님 안녕하세요!
            br
            | 3대 중량에 변동사항이 있나요?
            p
        #div_inputRecord(style="display:none")
            | 스쿼트 
            input(type="text" id="ib_squat" style="width:82;text-align:right")
            br
            | 벤치프레스 
            input(type="text" id="ib_benchpress" style="width:50;text-align:right")
            br
            | 데드리프트 
            input(type="text" id="ib_deadlift" style="width:50;text-align:right")
            P 
            button(id="btn_save" onclick="save()") 저장
            P
        table#tb_record
        //- P
        //- button(id="btn_competition" onclick="gotoCompetition()") competition→

        script(src="/script/index.js")
        script(src="//code.jquery.com/jquery-1.11.0.min.js")
        script(src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.js")