html 
    head 
        title=title 
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet', href='/views/style.css')
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.css")
    body 
        center
            P
            button#btn_getProfile.ui.button(onclick="getProfile()") get Profile
            P
            table#tb_main
                tr 
                    th id
                    th pic
                each user in userList 
                    tr
                        td(name="td_id")= user
                        td
                            #div_pic
                                img(src="/images/temp/"+user+".jpg")


        script(src="//code.jquery.com/jquery-1.11.0.min.js")
        script(src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.8/dist/semantic.min.js")
        script(src="/script/macroManager.js")