body {
  }

table {
    border: 1px solid #444444;
    border-collapse: collapse;
    table-layout:fixed
  }
  th{
    border: 1px solid #444444;
    background-color: #d2d2d3;
  }
  td {
    border: 1px solid #444444;
    text-align: center;
    padding: 5px;
    white-space: nowrap;
  }