body {
  }

table {
    border: 1px solid #444444;
    border-collapse: collapse;
    table-layout:fixed;
  }
  th{
    border: 1px solid #444444;
    background-color: #d2d2d3;
  }
  td {
    border: 1px solid #444444;
    text-align: center;
    padding: 5px;
    overflow: hidden;
  }

.inline{
  display:inline;
}

.hidden{
  display:none;
}

.instaID{
  color: #4183c4;
}

.instaID_me{
  color: #21ba45;
  font-weight: bold;
}

.box{
  border-width: 1px;
  border-style: solid;
  border-color: gray;
  width : 300px;
}

.downloadAPK{
  display: scroll; 
  position: fixed; 
  bottom: 10px;
}